

*{
   
    margin:5px;
    box-sizing: border-box;
}
body{
    height:95vh;
    background-color: blueviolet;
    font-family: sans-serif;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}
header{
    background-color: aqua;
    padding: 2em 0 2em 0;
}
.left{
    background-color: rgb(4, 0, 255);
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}
main {
    background-color: rgb(60, 255, 0);
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}
.right {
    background-color: rgb(4, 0, 255);
    padding: 3em 0 3em 0;
    flex: 1 1 100px;
}
footer {
    background-color: rgb(60, 255, 0);
    padding: 2em 0 2em 0;
}
.main{
    display: flex;
    flex: 1;

}

@media all and (max-width:550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}

